@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme(colors.primary-grey);
  border-radius: 5px;
  /* margin: 5px 0px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme(colors.primary-dark);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme(colors.primary-dark-grey);
}
